body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  margin: 40px;
}

h2 {
  color: #2cd7e6;
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
  margin-top: -10px;
  padding: 4px 4px 4px 12px;
}

a {
  text-decoration: none;
  background-color: yellow;
  color: black;
}

span {
  color: #8ce07e;
  padding: 0 4px;
}

footer {
  margin: 24px 0;
}

.gray-bg {
 background-color: #f7f7f7;
 display: block;
}

.h-25 {
  height: 250px;
}

.h-24 {
  height: 242px;
}

.pm-4 {
  padding: 4px;
  margin: 4px;
}

.grow:hover {
  transform: scale(1.18);
  transition: 500ms;
}

.w-17 {
  width: 250px;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.m-1 {
  margin: 4px;
}

.d-inline {
  display: inline;
}

.fade-box {
  position: relative;
  background-position: center center;
  background-size: cover;
  display: inline-block;
}

.fade {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 99%;
  background: rgba(47, 47, 47, 0.8);
  transition: 400ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade:hover {
  opacity: 1;
}

.fade-text {
  box-sizing: border-box;
  transition: 0.2s linear;
  padding: 30px;
  font-size: 12px;
  color: white;
}

.thumbnail {
  height: 100px;
}

.tabs {
  position: relative;
  min-height: 700px;
  margin-bottom: 16px;
}

.tab {
  float: left;
}

.tab label {
  top: 1em;
  font-size: 12px;
  padding: 0 4px;
}

.tab label:hover {
  background-color: #8ce07e;
}

.tab [type=radio] {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.tab [type=radio]:focus + label {
  color: #8ce07e;
}

.content {
  position: absolute;
  top: 2em; left: 0; right: 0; bottom: 0;
  opacity: 0;
  margin-top: 8px;
  overflow-x: hidden;
  overflow: auto;
}

[type=radio]:checked ~ label {
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
}

/*Decide for me*/

.card-ghost {
  opacity: .97;
  box-shadow: 0 8px 40px rgba(0,0,0,.1);
}

.card-ghost:hover{
  opacity: 1;
  box-shadow: 0 8px 40px rgba(0,0,0,.3);
}

.card-category {
  background-color: #f8c630;
  min-height: 15em;
  width: 18em;
  box-sizing: border-box;
  padding: 2em;
  position: relative;
}

.card-category:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: #f8c630;
}

.card-category:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0em;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: darken(#f8c630, 10%) transparent;
}

.card-note-text h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  font-family: 'Lora', Helvetica, sans-serif;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.easy {
  background-color: #fee85f;
}

.medium {
  background-color: #a0d55e;
}

.hard {
  background-color: #fab1c2;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.little-text {
 font-size: 10px;
}

.b-dotted {
  letter-spacing: 1px;
  border: 1px dotted #0E0000;
  background-color: rgba(255, 255, 255, 0.8);
}

.text-white {
  color: white;
}

.px-1 {
  padding: 0 4px;
}

.ml-1 {
  margin-left: -4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 14px;
}

.mb-3 {
  margin-bottom: 14px;
}

.mr-3 {
  margin-right: 14px;
}
