body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  margin: 40px;
}

h2 {
  color: #2cd7e6;
  font-weight: 400;
}

header p {
  font-size: 12px;
  margin-top: -10px;
  padding: 4px 4px 4px 8px;
}

.flex-vertical {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.gray-bg {
 background-color: #f7f7f7;
 display: block;
}

.h-25 {
  height: 250px;
}

.h-25:hover {
  transform: scale(1.20);
  transition: 500ms;
}

.w-50 {
  width: 50%;
}

.p-1 {
  padding: 4px;
}
